body {
  background-color: #f9f6f7;
  font-family: "Roboto", sans-serif;
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video {
    width: auto;
    height: 100%;
  }
}

a {
  color: #083d56;
}

.app {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 14px;
}

header {
  border-bottom: 1px solid #f9f6f7;
  padding: 0 0 30px 0;
}

.search-input {
  background-color: #f9f6f7;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-button {
  background: #083d56;
  border: none;
  padding: 15px 20px;
  margin-left: 8px;
  color: white;
  border-radius: 6px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-app {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 50px;
  line-height: 48px;
}

.city-elements {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.city-details strong {
  color: #680747;
  font-weight: bold;
}

.weather-units {
  display: flex;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-current-temperature {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
}

.weather-unit {
  margin-top: 16px;
  font-size: 26px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.forecast-temperature {
  text-align: center;
  color: #680747;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.forecast-max {
  font-weight: bold;
  padding: 0 10px;
}

.forecast-min {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
